@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'SuperMario';
  src: url('../../fonts/SuperMario256.ttf');
  font-weight: normal;
  font-style: normal;
}

.supermario {
  font-family: 'SuperMario', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
