@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --default-text-color: customColour
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply text-customColour;
  color: var(--default-text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
